
#第一次尝试，先试试
#此文件用于标记不被纳入版本管理的文件

#表示注释  you can use it for illustration
#每行表示一个需要忽略的模式  
# ‘/’开始表示从项目根目录开始匹配 
#‘/’结尾表示匹配文件夹
#‘！’表示取消忽略
#子文件夹也可以使用
datasets/GFoutput
datasets/S2output
datasets/GFimages/*.tif
datasets/GFmasks/*.tif
datasets/images/*.npy
datasets/masks/*.npy
GFoutput/best_model.pth
S2output/*checkpoint*.pth
GFoutput/*checkpoint*.pth
*.pt
*.log
__pycache__/
#全是测试文件
blacktest.py
clipformal.py
clipimage.py
display_image.py
npypixel.py
npystatic.py
npytoimage.py
rename.py
s2reflctance.py
s2rgbdeal.py
s2test.py
tempCodeRunnerFile.py
U_netpaint.py
Unet.py
waterpixel.py
s2show.py
train_v2.py
U_net_v2.py
U_net_v2.py
U-net_v3.py
U-netpaint.py
clipinformal.py
domain_adaptation_adversarial.py
domain_adaptation.py
ensemble_predict.py
randompick.py
test_domain_adapted_model.py
train_advanced.py
train_domain_adaptation.py
train_v4.py
trainwithnan.py
trainwithpadding.py
visualize_analysis.py
models\DeepLabV3plus_v2.py
tests\hotencoder.py
tests\modelcompare.py
tests\predict_visualize.py
tests\read_history.py
tests\vitseg_test.py
utils\padding_handler.py
utils\temp.py
utils\train_one_epoch.py
utils\water_enhancement.py
utils\history.py
modeleval_gf.py
modeleval_s2.py